h1 {
  color: grey;
  font-size: 28px;
  font-family: sans-serif;
}

p {
  color:black;
  font-size: 16px;
  font-family: sans-serif;
}

.myButton {
  color: #900;
  background: #FF0;
  font-weight: bold;
  border: 1px solid #900;
}

.myButton:hover {
  color: #FFF;
  background: #900;
}

#firstName {
  color: red;
  font-size: 16px;
}

#lastName {
  color: blue;
  font-size: 16px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid blue;
}